@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img  src="~/assets/IDserver_logotransparent.png"/>
    <div>
        <h3>Administrative configuration page</h3>
    </div>
</div>
