@page "{clientId}"
@model IdentityServerAdmin.Pages.ClientScope.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client Scope</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientScope.Scope" class="control-label"></label>
                <input asp-for="ClientScope.Scope" class="form-control" />
                <span asp-validation-for="ClientScope.Scope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientScope.ClientId" class="control-label"></label>
                <input asp-for="ClientScope.ClientId" class="form-control" readonly="readonly" value="@RouteData.Values["clientId"]" type="text" />
                <span asp-validation-for="ClientScope.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Api/Details" asp-route-id="@RouteData.Values["clientId"]">Back to Api Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
